body{
  background-color:#dddddd;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin:0;
  margin-left:30px;
  color:#343434;
}

#menu_bar{
  position:relative;
  background:#343434;
  color:white;
  height:80px;
  padding-top:15px;
  margin-left:-30px;
  padding-left:30px;
  box-shadow:0px 11px 14px #9a9a9a;
}

#menu_bar a.page_title{
  display:inline-block;
  font-weight:bold;
  font-size:14pt;
  color:#dddddd;
  letter-spacing:-0.1em;
}

#menu_bar a.page_title span{
  color:#AA3;
}

#menu_bar #controls{
  position:absolute;
  bottom:5px;
  color:#aaaaaa;
}

#menu_bar #controls a{
 color:#343434;
 background:#AA3;
 width:140px;
 display:inline-block;
 text-decoration:none;
 padding:3px;
}

#menu_bar #controls a.disabled{
  text-decoration:line-through;
  background:#aaaaaa;
}

a:visited{
  color:inherit;
}

#menu_bar #display_switch{
  display:inline-block;
  margin-left:50px;
  width:auto;
}

#menu_bar #display_switch #display_toggle span{
  display:inline-block;
  width:80px;
  padding:3px;
}

#menu_bar #display_switch a#display_toggle{
  background:none;
  width:172px;
  border:1px solid #AA3;
  color: #dddddd;
  padding:0px;
}

#patchlist{
  display:none;
  bottom:0px;
  overflow:hidden;
  position:relative;
  margin-left:-30px;
}

#patchlist #patch_items{
  position:absolute;
  top:0px;
}

#patchlist #connections{
  position:relative;
}

.patch_item{
  display:block;
  position:absolute;
  width:225px;
  border-top:2px solid #555;
  padding-top:1px;
}

.patch_item .screenshot_container{
  height:150px;
  overflow:hidden;
}

.patch_item .screenshot_container img{
  margin-top:-37px;
  width:225px;
}

.patch_item .patch_meta{
  background:#555;
  color:white;
  margin-top:1px;
  padding:3px;
  text-transform:uppercase;
  border-radius:0 0 9 0;
  -mod-border-radius:0 0 9 0;
}

.patch_item .patch_meta .name{
  display:block;
  clear:right;
  font-size:11pt;
  font-weight:bold;
}

.patch_item .patch_meta .author{
  font-size:9pt;
}

.patch_item .patch_meta .created_at{
  font-size:9pt;
  float:right;
}

#thepatch{
  height:1000px
}



.shelf{
  display:none;
  background-color:#cccccc;
  position:absolute;
  width:100%;
  left:0px;
  padding:30px;
  border-bottom: 1px solid #aaaaaa;
  z-index:5;
}

.shelf h2{
  margin-top:0px;
  font-weight:bold;
  font-size:14pt;
}

.shelf a, .shelf a:visited{
  text-decoration:underline;
  color:black;
}

.shelf p{
  width:600px;
}

.shelf .message{
  font-weight:bold;
  display:inline-block;
  margin-bottom:1em;
  padding-right:4px;
}

.shelf .message span{
  color:white;
  padding:2px;
  display:inline-block;
  width:1em;
  text-align:center;
}

.shelf .message.error{
  border:1px solid #b60000;
}

.shelf .message.error span{
  background-color:#b60000;
}

.shelf .message.success{
  border:1px solid #359d0c;
}

.shelf .message.success span{
  background-color:#359d0c;
}

.shelf label{
  float:left;
  padding-left:10px;
}

input{
  background:#aaaaaa;
  color:#333;
  border:1px solid #333;
  height:2em;
}

input.text{
  display:block;
  margin-left:250px;
  width:400px;
  margin-bottom:5px;
}

.checkbox{
  display:block;
  margin-left:250px;
  margin-bottom:5px;
}

.checkbox input{
  margin-left:0;
  height:auto;
}

input.button{
  width:100px;
  margin-left:5px;
}
