textarea{
  display:none;
}

div.screenshot_toolbar{
  display:none;
  position:absolute;
  background-color:#666666;
  color:white;
  padding:5px;
}

div.screenshot_toolbar a{
  color:white;
}

#screenshot_image{
  width:160px;
  height:160px;
  float:left;
}

#patch{
  position:absolute;
  right:0px;
  top:95px;
  border:1px solid #555555;
}

#menu_bar #social_buttons{
  position:absolute;
  bottom:5px;
  right:0px;
  color:#aaaaaa;
  text-align:right;
}

#menu_bar #social_buttons iframe{

}


input.button#save{
  
}

#log_message{
  display:none;
  font-weight:bold;
  background-color:#cccccc;
  position:absolute;
  width:200px;
  right:10px;
  top:110px;
  padding:30px;
  border: 2px solid #b60000;
  z-index:6;
  border-radius:5px;
}


